.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 32px;

    &__logo{
        color: white;
        font-weight: 600;
        letter-spacing: 1rem;
    }
}